requests
pandas
bs4
openpyxl
pandas_datareader
black
numpy
selenium
html5lib
rope
fuzzywuzzy
pandasdmx
requests-cache
xmltodict
xlrd
pandera
nltk
ipykernel
notebook
nbconvert
jupyter
pandoc
matplotlib
# for small apps (and sharepoint auth)
dash
dash_extensions
jupyter-dash
jupyter_server_proxy
Office365-REST-Python-Client